body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
      /* ff 3.6+ */
      background:-moz-linear-gradient(341deg, #000000 53%, #540017 100%); 
   
      /* safari 5.1+,chrome 10+ */
      background:-webkit-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* opera 11.10+ */
      background:-o-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#540017', GradientType=1 );
     
      /* ie 10+ */
      background:-ms-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* global 94%+ browsers support */
      background:linear-gradient(341deg, #000000 53%, #540017 100%);
}


.overall{
    color: white;
    text-align: center;
      /* ff 3.6+ */
    background:-moz-linear-gradient(341deg, #000000 53%, #540017 100%); 
   
      /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* opera 11.10+ */
    background:-o-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#540017', GradientType=1 );
     
      /* ie 10+ */
    background:-ms-linear-gradient(341deg, #000000 53%, #540017 100%);
     
      /* global 94%+ browsers support */
    background:linear-gradient(341deg, #000000 53%, #540017 100%);}

.main{
    color: linear-gradient(90deg, #EE82EE 0%, #00D1FF 100%);
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);

}


h4 {
    color:#00D1FF
    
}